body {
  text-align: center;
}

#header {
  background-color: cornflowerblue;
  padding: 20px;
  text-align: center;
}
header {
  font-size: 40px;
  color: white;
}

.container {
  min-width: 220px;
  height: 200px;
  background-color: aqua;
  color: #000000;
  border: 1px solid grey;
  text-align: left;
  resize: both;
  overflow: auto;
  float: left;
  margin: 15px;
}
.container-header {
  background-color: burlywood;
  padding: 5px;
  cursor: move;
  line-height: 30px;
  padding-right: 10px;
}
.note-header {
  text-align: center;
}
.close-note {
  float: right;
  vertical-align: middle;
  height: 20px;
  width: 20px;
  cursor: pointer;
  color: #111000;
  background-color: wheat;
  border-radius: 2px;
  border: 1px solid gray;
  text-align: center;
  line-height: 25px;
  font-weight: bold;
  font-size: 30px;
}
.note-header,
.note-body {
  background-color: transparent;
  border: none;
  margin-top: 5px;
  outline: none;
}
.note-body {
    box-sizing:border-box;
    display:block;
    width:100%;
    height: auto;
    overflow: hidden;
    resize: none;
}

.on-button-container {
  width: 200px;
  height: 30px;
  cursor: pointer;
  background-color: cadetblue;
  color: aliceblue;
  text-align: center;
  line-height: 0px;
  border: none;
  border-radius: 3px;
  display: inline-block;
  margin-top: 20px;
}
